- return unless ::Gitlab::CurrentSettings.custom_project_templates_enabled?
- expanded = Rails.env.test?

%section.settings.no-animate{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('GroupSettings|Custom project templates')
    %button.btn.js-settings-toggle{ type: 'button' }
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('GroupSettings|Select a sub-group as the custom project template source for this group.')
      = link_to s_('GroupSettings|Learn more about group-level project templates.'), help_page_path('user/group/custom_project_templates')
  .settings-content
    = form_for @group, html: { multipart: true, class: 'gl-show-field-errors' }, authenticity_token: true do |f|
      %input{ type: 'hidden', name: 'update_section', value: 'js-custom-project-templates-settings' }
      = form_errors(@group)

      %fieldset
        .form-group
          = f.label :custom_project_templates_group_id, class: 'label-bold' do
            = _('Custom project templates')
          = groups_select_tag('group[custom_project_templates_group_id]', data: { parent_id: @group.id }, selected: @group.custom_project_templates_group_id, class: 'input-clamp allowClear', multiple: false)

      = f.submit _('Save changes'), class: 'btn btn-success'
