- sorted_by = epics_sort_options_hash[@sort]

.dropdown.inline.prepend-left-10
  .btn-group
    %button.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' } }
      = sorted_by
      = icon('chevron-down')
    %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-selectable.dropdown-menu-sort
      %li
        = sortable_item(sort_title_created_date, page_filter_path(sort: sort_value_recently_created), sorted_by)
        = sortable_item(sort_title_recently_updated, page_filter_path(sort: sort_value_recently_updated), sorted_by)
        = sortable_item(sort_title_start_date, page_filter_path(sort: sort_value_start_date_soon), sorted_by)
        = sortable_item(sort_title_end_date, page_filter_path(sort: sort_value_end_date), sorted_by)
    = sort_order_button(@sort)
